/*

CSS for homepage

Author: hung.luong@matocreative.vn

*/


@font-face{
	font-family: 'Calibri Bold';
	src: url(../fonts/calibri-bold.TTF);
}

.home-page {
	background: url(../img/background.png);
	width: 100vw;
	height: 100vh;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.header-area {
    width:100%;
    text-align:center;
    display: inline;
}

.img-header {
    width: 25%;
    position: fixed;
    top: 15px;
    left: 25px;
}

.tilte-header {
    position: fixed;
    width: 100%;
    top: 120px;
    font-size: 36px;
    color: #ffffff;
    font-family: Calibri Bold;
}

.register-area {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 100%;
}

.footer-area {
    POSITION: FIXED;
    bottom: 5;
    left: 5;
    color: #0C9183;
}

.btn-register {
    width: 11%;
    margin: 0 10px;
}

.register-for-real-estate-and-industry {
    content: url(../img/business/btn-real-estate-and-industry.png);
}

.register-for-real-estate {
    content: url(../img/business/btn-real-estate.png);
}

.register-for-technology-solutions {
    content: url(../img/business/btn-technology-solutions.png);
}

.register-for-city {
    content: url(../img/business/btn-city.png);
}

/*hover*/
.register-for-real-estate-and-industry:hover {
    content: url(../img/business/btn-real-estate-and-industry-hover.png);
}

.register-for-real-estate:hover {
    content: url(../img/business/btn-real-estate-hover.png);
}

.register-for-technology-solutions:hover {
    content: url(../img/business/btn-technology-solutions-hover.png);
}

.register-for-city:hover {
    content: url(../img/business/btn-city-hover.png);
}

.img-footer {
    width: 25%;
    position: fixed;
    bottom: 10;
    right: 10;
}

/*Council*/
/*.btn-register {*/
/*    width: 25%;*/
/*    margin: 0 10px;*/
/*}*/

/*.register-for-council {*/
/*    content: url(../img/council/btn-council.png);*/
/*}*/

/*.register-for-council:hover {*/
/*    content: url(../img/council/btn-council-hover.png);*/
/*}*/





